.field{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-image: url("/assets/img/field.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

       
}

.cardStack {
    position: relative;
    img{
        width: 200px;
        position: absolute;
    }
}

.topCard {
    cursor: pointer;
    transition: all 0.055s ease-in-out;

    &:hover {
        transform: translateY(-10px) scale(1.1);
    }
}

.pickCard{
    animation: pickCardAnimation 1.25s ease-in-out;
    transform: scale(1) translateX(350px) translateY(-350px) rotate(10deg);
    
}

@keyframes pickCardAnimation {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.7);
    }
    50% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1) translateX(350px) translateY(-350px) rotate(10deg);
    }
}

.playedCard {
    transform: scale(1) translateX(350px) translateY(-350px) rotate(10deg);
    right: 25px;
}

.player{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 300px;
    position: absolute;
    gap: 20px;
}

.playerContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.324);
    padding: 15px;
    border-radius: 30px;
    gap: 10px;
    width: 100%;
    max-width: 180px;
}

.btnAdd{
    position: absolute;
    left: 35px;
    bottom: 35px;
    z-index: 2;
}

.pin-bottom {
    color: white;
    position: absolute;
    bottom: 35px;
    left: 100px;
    right: 100px;
    overflow: hidden;
    z-index: 1;
}