.startscreen {
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: #727272;
}

.startscreenWindow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    width: 600px;
    max-width: 100%;
    background-color: #1919198a;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    flex-direction: column;
    gap: 20px;
    background-image: url(/assets/img/RingOfFireStartscreen.png);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    


    button{
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background-color: #1919198a;
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        border: 2px solid white;
        cursor: pointer;
        transition: 0.25s;

        &:hover{
            background-color: white;
            color: black;
        }
    }
}

.LogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    p{
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        text-transform: capitalize;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        padding: 30px;
        backdrop-filter: blur(10px);
        background-color: #1919198a;
        border-radius: 10px;
        color: rgb(213, 15, 223);
        line-height: normal;
        
    }
    
}